<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/mbxsj.css?v=0.0.1" />
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <title>{{.Event}}</title>
</head>
<body>
    <div class="container" id="app">
        <div class="input-wrapper">
            <input v-bind:disabled="disable" v-model="student" placeholder="孩子姓名" />
        </div>
        <select v-bind:disabled="disable" class="selection" v-model="gender">
            <option disabled value="">性别</option>
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
        <select v-bind:disabled="disable" class="selection" v-model="idType">
            <option disabled value="">证件类型</option>
            <option value="身份证">身份证</option>
            <option value="护照">护照</option>
            <option value="港澳台来往内地通行证">港澳台来往内地通行证</option>
        </select>
        <div class="input-wrapper">
            <input v-bind:disabled="disable" v-model="idNumber" placeholder="证件号码" />
        </div>
        <select v-bind:disabled="disable" class="selection" v-model="session">
            <option disabled value="">参加体验场次</option>
            <option v-bind:disabled="item.limit==item.number" v-for="(item, index) in sessions" v-bind:value="index">${item.description}</option>
        </select>
        <button v-bind:disabled="disable" class="submit" @click="handleSubmit">${status}</button>
        <div style="height:2rem;"></div>
    </div>
    <script>
        var g_OpenId = {{.OpenId}}
        var g_Event = {{.Event}}
    </script>
    <script src="/js/openday.js?v=Math.random()"></script>
</body>

</html>